<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row ">
            <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create a Product</h1>
              </div>
              <form [formGroup]="productForm" (submit)="submitForm()" class="user">
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="name" formControlName= "name" placeholder="Product Name">
                    <span *ngIf="productForm.get('name').touched && !productForm.get('name').valid">This field is required</span>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="number" class="form-control form-control-user" id="price" formControlName= "price" placeholder="Product Price (in INR)">
                        <span *ngIf="productForm.get('price').touched && !productForm.get('price').valid">This field is required</span>
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="number" class="form-control form-control-user" id="quant" formControlName="quant" placeholder="Product Quantity">
                        <span *ngIf="productForm.get('quant').touched && !productForm.get('quant').valid">This field is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="seller" formControlName= "seller" placeholder="Seller Name">
                    <span *ngIf="productForm.get('seller').touched && !productForm.get('seller').valid">This field is required</span>
                </div>
                <input type="submit" value= "Create Product" class="btn btn-primary btn-user btn-block">
                  
                <hr>
              </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>